@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 1536px) and (min-width: 1280px) {
body{
  scale: 115%;
  overflow-x: hidden;

}
}
@media (min-width: 1900px) {
body{
  position: relative;
  top:16rem;
  /* border:12px solid red; */
  scale: 135%;
  height: 100rem;
  overflow-x: hidden;

} 

}