#back_b2{
    position: relative;
    left: 10rem;
    top:2rem;
}
@media (max-width: 1536px) and (min-width: 1281px) {
#pdf_cont{
position: relative;
top: 10rem;
}
}
@media (min-width: 1920px) {
#pdf_cont{
    position: relative;
    top: 15rem;
}
}